# 依赖安装目录
node_modules/
*/node_modules

# 构建输出目录
dist/
build/

# 本地环境变量文件
.env
.env.local
.env.*.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器目录和文件
.vscode/
.idea/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 测试覆盖目录
coverage/
.nyc_output

# 临时文件夹
.tmp/
.temp/